footer {
    background: $silver;
    padding: 40px 0 30px;
}
.footer_body {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 64px;
    justify-content: space-between;
    a { color: #fff; }
    &-general_info {
        display: flex;
        flex-direction: column;
        align-items: left;
        max-width: 400px;
        font-size: 13px;
        line-height: 20px;
        gap: 22px;
        &-time {
            .name+.info {
                margin-top: 9px;
            }
        }
        &-address {
            font-size: 16px;
            line-height: 25px;
            font-style: normal;
        }
        &-inn_ogrn {
            display: flex;
            justify-content: space-between;
        }
    }
    &-slogan {
        display: inline-flex;
        align-items: center;
        .logo {
            position: relative;
            max-width: 140px;
            img {
                object-fit: contain;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }
        &-text {
            margin-left: 30px;
            line-height: 25px;
        }
    }
    &-network {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: max-content;
        margin-left: auto;
        .tel {
            font-size: 30px;
            line-height: 47px;
            display: inline-flex;
            width: max-content;
            margin-bottom: 9px;
        }
        .mail {
            font-size: 22px;
            line-height: 35px;
            margin-bottom: 11px;
        }
    }
}