.container {
    width: 1185px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
article {
    margin-top: 60px;
}
section:not(:first-child) {
    margin-top: 60px;
}
section {
    text-align: left;
    .block_text {
        text-align: center;
        margin-bottom: 2.5em;
        h2 {
            margin:0;
            font-size: 1.94rem;
            font-weight: 900;
            line-height: 1.75em;
        }
        &-text {
            font-size: 1.22rem;
            line-height: 0.63em;
        }
    }
}
article+article {
    margin-top: 60px;
}
.background-two {
    background: $gray;
}

.mail {
    text-decoration-line: underline;
}