.quiz_block {
    display: flex;
    border: 3px solid $gray;
    &-info {
        flex: 1 1;
    }
    &-plus {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 360px;
        border-left: 3px solid $gray;
    }
    &-title {
        padding: 26px 26px 20px;
        line-height: 1;
        border-bottom: 3px solid $gray;
        h3 {
            margin: 0;
        }
    }
    &-questions {
        padding: 26px 36px;
        max-height: 286px;
        height: 286px;
    }
    &-footer {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        margin-left: 36px;
        margin-right: 36px;
        border-top: 2px solid $gray;
        font-size: 16px;
    }
    &-next {
        background: none;
        font-size: 16px;
        color: $blue;
        svg {
            margin-left: 16px;
            path {
                stroke: $blue;
            }
        }
    }
    &-plus {
        margin: 0;
        padding:  36px;
        max-width: 280px;
        li {
            display: flex;
            gap: 24px;
            font-size: 16px;
            line-height: 25px;
            img {
                min-width: 40px;
                height: 35px;
            }
            svg {
                min-width: 40px;
                height: 35px;
            }
        }
    }
}

.catalog {
    &_main {
        position: relative;
        &-blocks {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            margin-bottom: 30px;
            .card {
                transition: box-shadow .5s;
                background: #FFFFFF;
                border: 1px solid $gray;
                img {
                    object-fit: cover;
                    object-position: center;
                    max-height: 300px;
                    height: 300px;
                    width: 100%;
                }
                &-body{
                    padding: 30px 30px 16px;
                    h5 {
                        font-weight: 800;
                        font-size: 22px;
                        line-height: 32px;
                        margin: 0;
                        color:#000;
                        &:hover {
                            color: $blue;
                        }
                    }
                    .lot {
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 23px;
                        margin: 0 0 22px;
                        color: #000;
                    }
                    &_footer {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        .price_size{
                            .price {
                                font-size: 33px;
                                line-height: 52px;
                            }
                            .size {
                                font-size: 16px;
                                line-height: 25px;
                            }
                        }
                        .apartsmens{
                            font-size: 16px;
                            line-height: 25px;
                            .square {
                                margin-bottom: 19px;
                            }
                        }
                    }
                }
                &:hover {
                    box-shadow: 0px 0px 18px rgba(233, 80, 79, 0.25);
                }
            }
        }
    }
}